body {
  background-color: #f37813;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  margin-top: 100px;
  background-color: #f5f7f8;
  border-radius: 20px;
  height: 500px;
  width: 950px;
}

img {
  height: 500px;
  width: 440px;
  margin-top: 10px;
  margin-left: 500px;
}
.container * {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.login {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: relative;
  bottom: 500px;
  text-align: center;
}
.login h1 {
  font-size: 3rem;
  position: relative;
  right: 30px;
}
.login hr {
  border: 1.4px solid #f37813;
  width: 56%;
  position: absolute;
  bottom: 130px;

  left: 70px;
}

.login p {
  position: relative;
  right: 30px;
}

.email {
  position: relative;
  right: 138px;
}
#email {
  position: relative;
  right: 30px;
  top: -12px;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  padding-left: 10px;
}
#email::placeholder {
  color: #888;
  position: relative;
  left: 3px;
}

.password {
  position: relative;
  right: 120px;
}
#password {
  position: relative;
  right: 30px;
  top: -12px;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  padding-left: 10px;
}

#password::placeholder {
  color: #888;
  position: relative;
  left: 3px;
}

.blogin {
  position: relative;
  right: -23px;
  border: white;
  border-radius: 5px;
  width: 270px;
  height: 35px;
  background-color: #f37813;
  animation: example 0.5s;
}
@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.blogin:hover{
    background-color:cadetblue
}

a {
  position: relative;
  top: 40px;
  left:-170px;
  color:blue;
}

.footer{
    color:black;
    text-align:end;
    position:relative;
    bottom:310px;
    right:20px
}

@media ( min-width:426px ) and (max-width:926px){
    .Image img{
        margin-left:50px;
        width:200px;
        margin-top:320px;
        height:200px

    }

    .container{
        position:relative;
        left:-200px;
        height:500px;
        width:350px;
    }
    .login h1 {
        font-size: 20px;
        position:relative;
        top:0px;
        left:80px;
    }
    .login hr{
        position: relative;
        width:220px;
        top:10px;
        left:60px;
    }
    .login p{
        font-size:15px;
        width:400px;
        position:relative;
        top:10px;
    }
    .email{
        font-size:15px;
        position:relative;
        top:10px;
        left:-10px;
    }
    #email{
        width:90%;
        left:55px;
        top:1px;
    }
    .password{
        font-size:15px;
        position:relative;
        top:10px;
        left:3px;
    }
    #password{
        width:90%;
        left:55px;
        top:1px;
    }
    .blogin{
        top:20px;
        left:50px;
        width:250px;
    }
    a{
        left:200px
    }
}